.auth-form {
    width: 300px;
    margin: 50px auto;
    h1 {
        font-weight: bold;
        margin-bottom: 20px;
    }
    input {
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }
}